<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <div class="login-text">Login Akun Pangan Digital</div>
        <input type="text" class="input-form" placeholder="Email">
        <input type="text" class="input-form-pass" placeholder="Password">
        <div>
            <a href="" class="lupa-password"> Lupa Password ?</a>
        </div>
        <button class="button-masuk">Masuk</button>
      <div class="or">Atau</div>
        <button class="button-login-google"><img src="R.png" alt="" class="logo"> Login dengan Google</button>
        <button class="button-login-facebook"><img src="facebook-logo-1-2.png" alt="" class="logo">Login dengan Facebook</button>
    </div>
</body>
</html>